<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="main-title">
            Task List
        </h1>
    </header>
    <form class="task-form" action="#">
        <input type="text" class="form-item input-note" placeholder="add a note">
        <button class="form-item btn-add-task" type="submit">
            <i class="fas fa-plus-square"></i>
        </button>
    </form>
    <div class="task-container">
        <ul class="task-list">
            <!-- example structure for li elements -->
            <!-- <div class="task-item task-done">
                <li class="task-definition">go to the market</li>
                <button class="task-btn task-btn-done">
                    <i class="fas fa-check-square"></i>
                </button>
                <button class="task-btn task-btn-delete">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <div class="task-item">
                <li class="task-definition">go to the market</li>
                <button class="task-btn task-btn-done">
                    <i class="fas fa-check-square"></i>
                </button>
                <button class="task-btn task-btn-delete">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div> -->
        </ul>
    </div>
    <script src="../public/js/notes.js"></script>
</body>
</html>