:root {
    --main-color:rgba(230, 126, 34,1.0);
    --main-color-light:rgba(230, 126, 34, 0.5);
    --accent-color:rgba(41, 128, 185,1.0);
    --accent-color-light:rgba(41, 128, 185, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color-light);
}

.main-title {
    font-size: 3rem;
    color: white;
}

.header, .task-form {
     min-height: 20vh;
     margin: .5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.form-item {
    padding: .5rem;
    font-size: 1.5rem;
    border:none;
    background-color: white;
    outline:none;
}

.btn-add-task {
    color: var(--accent-color);
    cursor: pointer;
}

.btn-add-task:hover {
    color: white;
    background-color: var(--accent-color);
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list {
    list-style: none;
    min-width: 40%;
}

.task-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: 0.4s ease-in-out;
}

.task-definition {
    flex: 1;
    padding: 1rem;
}

.task-btn {
    background-color: var(--accent-color);
    color: white;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 1.2rem;
}

.task-btn-delete {
    background-color: red;
}

.task-done {
    text-decoration: line-through;
    opacity: .5;
}

.fas {
    pointer-events: none;
}

.deleting-now {
    transform: scale(0);
}